@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #a51127;
  --back-color: #262626;
  --border-color:   border: 3px solid rgb(47, 47, 47);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding: 30px 20px;
  background-color: #161616;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
