.about-container {
  background-color: var(--back-color);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 80px 70px;
  margin-top: 30px;
}
.left {
  display: flex;
  flex-direction: column;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.title {
  color: rgb(150, 150, 150);
  font-weight: bold;
  font-size: 19px;
}
.title-container {
  margin-bottom: 40px;
}
.name-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.name-container span {
  color: rgb(150, 150, 150);
  font-weight: bold;
}
.name-container .name {
  font-weight: bold;
  color: white;
  font-size: 25px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
  border-radius: 5px;
  border: solid 2px #161616;
  background-color: transparent;
}
button .text,
button .icon {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

button .icon img {
  width: 15px;
}
.hire {
  background-color: var(--primary-color);
  box-shadow: inset 0px 2px #a8162c, 0px 0px 20px 0px #a8162c8a;
  transition: 0.4s;
}
.hire:hover {
  background-color: var(--primary-color);
  box-shadow: inset 0px 2px #a8162c, 0px 0px 20px 7px #a8162c8a;
}
.hire .spacer {
  background-color: #161616;
  height: 100%;
  width: 2px;
}
button .icon img {
  width: 15px;
}
.email {
  transition: 0.4s;
}
.email:hover {
  cursor: pointer;
}

.email .spacer {
  background-color: #161616;
  height: 100%;
  width: 2px;
}
.picture img {
  width: 170px;
  height: auto;
  border-radius: 50%;
}
.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #343434;
}
.active-dot {
  content: none;
  width: 9px;
  height: 9px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 6.5px;
  border: 3px solid rgb(47, 47, 47);
  border-radius: 50px;
  padding: 0px 20px;
}
.active-text {
  color: rgb(150, 150, 150);
  font-weight: bold;
}
