.about-container {
  background-color: var(--back-color);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 70px;
  margin-top: 30px;
}
.left {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.title {
  color: rgb(150, 150, 150);
  font-weight: bold;
  font-size: 19px;
}
.title-container {
  margin-bottom: 20px;
}
.name-container {
 display: flex;
 flex-direction: column;
 

}
.name{
  font-weight: bold;
  color: white;
  font-size: 25px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
  border-radius: 5px;
  border: solid 2px #161616;
  background-color: transparent;
}
button .text,
button .icon {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
button .icon img {
  width: 15px;
}
.hire {
  background-color: var(--primary-color);
  box-shadow: inset 0px 2px #a8162c, 0px 0px 20px 0px #a8162c8a;
  transition: 0.4s;
}
.hire:hover {
  background-color: var(--primary-color);
  box-shadow: inset 0px 2px #a8162c, 0px 0px 20px 7px #a8162c8a;
}
.hire .spacer {
  background-color: #161616;
  height: 100%;
  width: 2px;
}
button .icon img {
  width: 15px;
}
.email {
  transition: 0.4s;
}

.email .spacer {
  background-color: #161616;
  height: 100%;
  width: 2px;
}
